@charset "utf-8";
/* CSS Document */
@font-face{
	font-family: "Tw Cen MT";
	src: url("../fonts/Tw Cen MT.ttf");
}
body{
	width: 100%;
	height: 100%;
	font-family: "Tw Cen MT" !important;
	background-color: black !important;
}
.lblPerfilPub{
	float: left;
	width: 20%;
	clear: both;
	text-align: left;
}

.lblDatosUser{
	float: left;
	width: 20% !important;
	clear: both;
	text-align: left;
	padding-bottom: 0px !important;
	padding-top: 0px !important;
}
.inputPerfilPublico{
	float: right;
	width: 65% !important;
	padding: 0 0 0 0 !important;
	
}
.inputCorto{
	float: right;
	width: 15% !important;
	padding: 0 0 0 0 !important;
}
.inputDatosUser{
	float: right;
	width: 65% !important;
	padding: 0 0 0 0 !important;
	margin-top: 0px !important;
}
.pant_inicio {
	width: 100%;
	min-height: 100% !important;
	height: auto !important;
	position: fixed;
	top:0; 
	left:0;
	background-color: black;
	background-image: url(../images/glance1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	clear: both;
}
[data-role=page]{
	height: 100% !important; 
	background-color: black !important;
	width:100% !important;
	position:relative!important;
}
[data-role=footer]{
	bottom:0; 
	position:fixed!important; 
	top: auto;
	width:100%;
 	background-color: rgba(255, 0, 0, 0) !important;
	border: none !important;
}
[data-role=header]{
	width:100%;
	position: absolute;
	background-color: rgba(255, 0, 0, 0) !important;
	border: none !important;
}
#usr{
	color: white;
	display: none;
}
#logo{
	margin: 40% 0 0 0; 
	width: 50%; 
	height: auto;
}
#tipoUsr{
	color: white;	
}
.backColor{
	background-color: black !important;
}
#usrExistente{
	background-image: url(../images/ondacolor2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
#page1{	
	background-image: url(../images/ondacolor1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.loginUsr{
	background-color: black !important;	
}
#btnFiltro{
	float: right !important;
	width: 60%;
	font-size: 1em;
	background-color: rgba(255, 0, 0, 0) !important;
	border: none;
}
#logoHeader{
	width: 40%;
	float: left;
	padding-left: 5%;
}
.fotoPerfilNav{
	width: 100% !important;
	height: 100% !important;
}
.divPerfil{
	padding: 0 0 0 0 !important;
	width: 100% !important;
	min-height: 18% !important;
	border: 1px solid white !important;
	border-radius: 10px;
}
.divFotoPerfil{
	width: 30% !important;
	float: left;
}
.divTextoPerfil{
	float: right;
	width: 65%;
}
#contPerfiles{
	min-height: 80% !important;
}
#btnHeader{
	width: 48%;
	float: right;
}
#btnsUsr{
	margin-top: 20%;
}
.imagenFooter{
	width: 20%;
	height: 20%;
}
#logoHdr1{
	height: 50px;
	width: auto;
}
.imagenHdr{
	margin: 5% 0 0 0 !important;
	float: left;	
}
.btnUsrEsp{
	border: none !important;
	border-radius: 10px; 
	width: 70%; 
	background-color: rgba(255, 0, 0, 0) !important;
	font-family: "Tw Cen MT" !important;
}
.inputLogin{
	border-top: 0px !important;
	border-right: 0px !important;
	width:80% !important;
	float: right;
}
#nombreUsr{
	border-top: 0px !important;
	border-right: 0px !important;
}
.imgLogin{
	float: left !important;
	height: auto !important;
	width: 18% !important;}
#imgUsr{
	height: 30px !important;
	width: 30px !important;
	margin: 5px 0 0 5px !important;
}
.imgLogueo{
	height: 30px !important;
	width: 30px !important;
	margin: 10px 0 0 5px !important;
}
#imgPass{
	height: 30px !important;
	width: 30px !important;
	margin: 10px 0 0 0 !important;
}
#divImgPass{
	margin: 15px 0 0 0;
}
#inputUser{
	margin-top: 10%;
	font-family: "Tw Cen MT" !important;
}
#olvidoPass{
	margin-top:10% !important;
}
.btnGaleria{
	border-radius: 10px;
	font-family: 'Tw Cen MT' !important;
}
.btnGenerico{
	border-radius: 10px; 
	width: 70%;
	font-family: "Tw Cen MT" !important;
}
.stylePages{
	width: 100%;
	font-family: 'Tw Cen MT' !important;
	background-color: black !important;
	overflow: auto;
}
.bienvenida{
	font-weight: bold !important;
	text-align: center !important;
	word-wrap: break-word;
}
.swiper-container {
      width: 100%;
      height: 50%;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      
      align-items: center;
    }




